{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">竞猜</a>
            <a><cite>竞猜列表</cite></a>
        </span>
    </div>
    <form class="layui-form" action="{:url('Guessing/lists')}" method="get" style="margin-top:10px;float:left;margin-bottom: -16px;">
        <div class="layui-form-item" style="margin-left:5px;">
            <div class="layui-inline">
                <select name="cate_id" lay-verify="required">
                    <option value="0">--请选择分类--</option>
                    {volist name="cateList" id="vo"}
                        <option value="{$vo.id}"  {eq name="$Think.get.cate_id" value="$vo.id"}selected{/eq} >{$vo.level|str_repeat='&nbsp;&nbsp;&nbsp;',###}{$vo.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-inline">
                <input type="text"  name="title" placeholder="关键字" value="{$Think.get.title}" class="layui-input">
            </div>
            <div class="layui-inline">
                <button class="layui-btn">查找</button>
            </div>
        </div>
    </form>

    <div style="float:right;">
        {php}
            if(showHandle('guessing/Guessing/addGuess')){
        {/php}
            <a  href ="{:url('guessing/Guessing/addGuess')}"  class="layui-btn" style="margin-bottom:5px;">添加竞猜</a>
        {php}
            }
        {/php}
    </div>


    <table lay-even class="layui-table" style="margin-top:-16px;">
        <thead>
            <tr> 
                <th style='width:3%;'>ID</th>
                <th style='width:6%;'>竞猜类型</th>
                <th style='width:15%;'>竞猜标题</th>
                <th style='width:10%;'>选项A(金额)<br/>选项B(金额)</th>
                <th style='width:8%;'>奖池<br/>平台比例</th>
                <th style='width:9%;'>开奖时时</th>
                <th style='width:9%;'>发布时间</th>
                <th style='width:9%;'>截止时间</th>
                <th style='width:6%;'>结果说明</th>
                <th style='width:7%;'>状态</th>
                <th style='width:15%;'>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$keyval[$vo.cate_id]}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.option_one}({$vo.option_one_total})<br/>{$vo.option_two}({$vo.option_two_total})</td>
                    <td>{$vo.option_all_total}<br/>{$vo.seller_proportion}</td>
                    <td>
                        {neq name="$vo.prize_time" value="0"}
                            {$vo.prize_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>
                        {neq name="$vo.pub_time" value="0"}
                            {$vo.pub_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>
                        {neq name="$vo.close_time" value="0"}
                            {$vo.close_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>{$vo.remark}</td>
                    <td>
                        {eq name="$vo.status" value="0"}<span>新添加</span>{/eq}
                        {eq name="$vo.status" value="1"}<span style="color:green;">进行中</span>{/eq}
                        {eq name="$vo.status" value="2"}<span>待开奖</span>{/eq}
                        {eq name="$vo.status" value="3"}<span>已开奖</span>{/eq}
                    </td>
                    <td>
                        {eq name="$vo.status" value="0"}
                            {php}
                                if(showHandle('guessing/Guessing/editGuess')){
                            {/php}
                                <a href="{:url('guessing/Guessing/editGuess',['id'=>$vo.id])}"><button class="layui-btn layui-btn-small" style='font-size:15px;'>编辑</button></a>
                            {php}
                                }
                                if(showHandle('guessing/Guessing/pubGuess')){
                            {/php}
                                <button class="layui-btn layui-btn-small pubGuess" data-id={$vo.id} style='font-size:15px;'>发布</button>
                            {php}
                                }
                            {/php}
                        {/eq}
                       
                        {eq name="$vo.status" value="2"}
                            {php}
                                if(showHandle('guessing/Guessing/editWin')){
                            {/php}
                                <button class="layui-btn layui-btn-small editWin" data-id={$vo.id} style='font-size:15px;'>编辑开奖</button>
                            {php}
                                }
                            {/php}
                        {/eq}
                        {eq name="$vo.status" value="3"}
                            {php}
                                if(showHandle('guessing/Guessing/viewWin')){
                            {/php}
                                <button class="layui-btn layui-btn-small viewWin" data-id={$vo.id} style='font-size:15px;'>查看开奖</button>
                            {php}
                                }
                            {/php}
                        {/eq}
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
{/block}

{block name='layer'}
<!--编辑开奖start-->
    <div id='motai' style="display:none">
        <form id='data-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td><span style="color:red">*</span>正确答案:</td>
                        <td>
                            <input type="radio" name="correct" option='option_one'>
                            <input type="radio" name="correct" option='option_two'>
                        </td>
                    </tr>
                    <tr>
                        <td>结果说明:</td>
                        <td>
                            <input type="text" name="remark"  placeholder="结果说明" autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align: center;">
                            <input type='hidden' name='action' value='post'>
                            <input type='hidden' name='id'>
                            <button class="layui-btn editWinSubmit" lay-submit lay-filter="formDemo" type="button">立即提交</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </form>
    </div>
<!--编辑开奖end-->
<!--查看开奖start-->
    <div id='editmotai' style="display:none">
        <form id='editdata-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td>正确答案:</td>
                        <td>
                            <input type="radio" disabled="true" name="correct" option='option_one'>
                            <input type="radio" disabled="true" name="correct" option='option_two'>
                        </td>
                    </tr>
                    <tr>
                        <td>结果说明:</td>
                        <td>
                            <input type="text" disabled="true" name="remark"  placeholder="结果说明" autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<!--查看开奖end-->
{/block}
{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            //发布功能
            $('.pubGuess').click(function(){
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                layer.confirm('确认发布操作？',function(){
                    layer.open({
                        type:3,
                        success: function(layero, index){  
                            $.ajax({
                                url: "{:url('pubGuess')}",
                                type: 'POST',
                                data: {'id':id},
                                success: function(d) {
                                    var result = eval("(" + d + ")");
                                    if (result.flag == 1) {
                                        layer.msg(result.msg,{icon:1,time:2000},function(){
                                            layer.closeAll(); //疯狂模式，关闭所有层
                                            window.location.reload();//刷新当前页面.
                                        });
                                    }else{
                                        layer.closeAll('loading'); //关闭加载层
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        }
                    }); 
                });
            });
            //编辑开奖
            $('.editWin').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                $.ajax({
                    url: "{:url('editWin')}",
                    type: 'post',
                    data: {'id':id,'action':'get'},
                    success: function(d) {
                        var result = eval("(" + d + ")");
                        if (result.flag == 1) {
                            var data = result.data,str = '';
                            $('#data-form input[option="option_one"]').attr('value',data.option_one);
                            $('#data-form input[option="option_one"]').attr('title',data.option_one);
                            $('#data-form input[option="option_two"]').attr('value',data.option_two);
                            $('#data-form input[option="option_two"]').attr('title',data.option_two);
                            $('#data-form input[name="remark"]').val(data.remark);
                            $('#data-form input[name="id"]').val(data.id);
                            form.render();
                            layer.open({
                                closeBtn: 2,
                                type: 1,
                                area: '600px',
                                title: '编辑开奖',
                                content: $('#motai')
                            });
                        }else{
                            layer.msg(result.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    }
                });
            });
            //提交编辑开奖
            $('.editWinSubmit').click(function() {
                if (!$("#data-form input[name='correct']").is(":checked")) {
                    layer.msg('请选择正确答案!');
                    return false;
                }
                var From = $('#data-form').serialize();
                layer.open({
                    type:3,
                    success: function(layero, index){  
                        $.ajax({
                            url: "{:url('editWin')}",
                            type: 'POST',
                            data: From,
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    layer.msg(result.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    }
                });     
            });
            //查看开奖信息
            $('.viewWin').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                $.ajax({
                    url: "{:url('viewWin')}",
                    type: 'post',
                    data: {'id':id},
                    success: function(d) {
                        var result = eval("(" + d + ")");
                        if (result.flag == 1) {
                            var data = result.data,str = '';
                            $('#editdata-form input[option="option_one"]').attr('title',data.option_one);
                            $('#editdata-form input[option="option_two"]').attr('title',data.option_two);
                            $('#editdata-form input[name="remark"]').val(data.remark);
                            $('#editdata-form input[title="'+data.correct+'"]').attr('checked','true');
                            form.render();
                            layer.open({
                                closeBtn: 2,
                                type: 1,
                                area: '600px',
                                title: '查看开奖',
                                content: $('#editmotai')
                            });
                        }else{
                            layer.msg(result.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    }
                });
            });
        });
    });
</script>
{/block}