{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">用户</a>
            <a><cite>答题列表</cite></a>
        </span>
    </div>
    <form class="layui-form" action="{:url('User/anround')}" method="get" style="margin-top:10px;float:left;margin-bottom: -16px;">
        <div class="layui-form-item" style="margin-left:5px;">
            <div class="layui-inline">
                <input type="text"  name="user_nick" placeholder="用户昵称" value="{$Think.get.user_nick}" class="layui-input">
            </div>
            <div class="layui-inline">
                <button class="layui-btn">查找</button>
            </div>
        </div>
    </form>
    <table lay-even class="layui-table" style="margin-top:-16px;">
        <thead>
            <tr> 
                <th style='width:5%;'>ID</th>
                <th style='width:15%;'>用户昵称</th>
                <th style='width:10%;'>总题数</th>
                <th style='width:10%;'>总得分</th>
                <th style='width:10%;'>消耗体力</th>
                <th style='width:10%;'>奖品</th>
                <th style='width:10%;'>结果</th>
                <th style='width:15%;'>创建时间</th>
                <th style='width:15%;'>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.user_nick}</td>
                    <td>{$vo.total_num}</td>
                    <td>{$vo.total_score}</td>
                    <td>{$vo.consume_num}</td>
                    <td>{$vo.get_reward}</td>
                    <td>
                        {if condition="1 eq $vo['result']"}
                            <span>成功</span>
                        {elseif condition="2 eq $vo['result']"/}
                            <span>失败</span>
                        {else/}
                            <span>联系开发人员</span>
                        {/if}
                    </td>
                    <td>
                        {neq name="vo.create_time" value="0000-00-00 00:00:00"}
                            {$vo.create_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>
                        {php}
                            if(showHandle('user/User/anlog')){
                        {/php}
                            <button class="layui-btn layui-btn-small view" data-id={$vo.id} style='font-size:15px;'>开发进行中...</button>
                        {php}
                            }
                        {/php}
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
{/block}

{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            
            //查看更多
            $('.view').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                $.ajax({
                    url: "{:url('anlog')}",
                    type: 'post',
                    data: {'id':id},
                    success: function(d) {
                        var result = eval("(" + d + ")");
                        if (result.code == 200) {
                            var data = result.data;
                            
                            $('#data-form tr td[name="user_name"]').empty().html(data.user_name);
                            
                            
                            form.render();
                            layer.open({
                                closeBtn: 2,
                                type: 1,
                                area: '600px',
                                title: '查看更多',
                                content: $('#motai')
                            });
                        }else{
                            layer.msg(result.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    }
                });
            });
            
            
        });
    });
</script>
{/block}