{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">用户</a>
            <a><cite>用户列表</cite></a>
        </span>
    </div>
    <form class="layui-form" action="{:url('User/lists')}" method="get" style="margin-top:10px;float:left;margin-bottom: -16px;">
        <div class="layui-form-item" style="margin-left:5px;">
            <div class="layui-inline">
                <select name="user_status" lay-verify="required">
                    <option value="0">--用户状态--</option>
                    <option value="1" {eq name="$Think.get.user_status" value="1"}selected{/eq}>启用</option>
                    <option value="-1" {eq name="$Think.get.user_status" value="-1"}selected{/eq}>禁用</option>
                </select>
            </div>
            <div class="layui-inline">
                <input type="text"  name="user_name" placeholder="昵称或姓名" value="{$Think.get.user_name}" class="layui-input">
            </div>
            <div class="layui-inline">
                <button class="layui-btn">查找</button>
            </div>
        </div>
    </form>
    <table lay-even class="layui-table" style="margin-top:-16px;">
        <thead>
            <tr> 
                <th style='width:5%;'>ID</th>
                <th style='width:10%;'>昵称</th>
                <th style='width:10%;'>姓名</th>
                <th style='width:10%;'>手机号</th>
                <th style='width:5%;'>性别</th>
                <th style='width:10%;'>邀请码</th>
                <th style='width:10%;'>状态</th>
                <th style='width:15%;'>创建时间</th>
                <th style='width:15%;'>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.user_id}</td>
                    <td>{$vo.user_nick}</td>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.user_mobile}</td>
                    <td>
                        {if condition="1 eq $vo['user_sex']"}
                            <span>男</span>
                        {elseif condition="2 eq $vo['user_sex']"/}
                            <span>女</span>
                        {/if}
                    </td>
                    <td>{$vo.invite_code}</td>
                    <td>
                        {if condition="1 eq $vo['user_status']"}
                            <span style="color:green;">启用</span>
                        {elseif condition="-1 eq $vo['user_status']"/}
                            <span >禁用</span>
                        {else/}
                            <span style="color:red;">联系开发人员</span>
                        {/if}
                    </td>
                    <td>
                        {neq name="vo.create_time" value="0000-00-00 00:00:00"}
                            {$vo.create_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>
                        {php}
                            if(showHandle('user/User/viewmore')){
                        {/php}
                            <button class="layui-btn layui-btn-small view" data-id={$vo.user_id} style='font-size:15px;'>查看更多</button>
                        {php}
                            }
                        {/php}
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
{/block}

{block name='layer'}
<!--查看更多start-->
    <div id='motai' style="display:none">
        <form id='data-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td width="18%">用户姓名：</td>
                        <td name="user_name"></td>
                        <td width="18%">用户昵称：</td>
                        <td name="user_nick"></td>
                    </tr>
                    <tr>
                        <td>手机号：</td>
                        <td name="user_mobile"></td>
                        <td>能量：</td>
                        <td name="energy"></td>
                    </tr>
                    <tr>
                        <td>彩钻：</td>
                        <td name="color"></td>
                        <td>答题得分：</td>
                        <td name="total_score"></td>
                    </tr>
                    <tr>
                        <td>状态：</td>
                        <td name="user_status"></td>
                        <td>创建时间：</td>
                        <td name="create_time"></td>
                    </tr>
                    <tr>
                        <td colspan='4' style="text-align: center;">  
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </form>
    </div>
<!--查看更多end-->
{/block}
{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            //查看更多
            $('.view').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                $.ajax({
                    url: "{:url('viewmore')}",
                    type: 'post',
                    data: {'id':id},
                    success: function(d) {
                        var result = eval("(" + d + ")");
                        if (result.code == 200) {
                            var data = result.data;
                            $('#data-form tr td[name="user_name"]').empty().html(data.user_name);
                            $('#data-form tr td[name="user_nick"]').empty().html(data.user_nick);
                            $('#data-form tr td[name="user_mobile"]').empty().html(data.user_mobile);
                            $('#data-form tr td[name="energy"]').empty().html(data.energy);
                            $('#data-form tr td[name="color"]').empty().html(data.color);
                            $('#data-form tr td[name="total_score"]').empty().html(data.total_score);
                            $('#data-form tr td[name="user_status"]').empty().html(data.user_status);
                            $('#data-form tr td[name="create_time"]').empty().html(data.create_time);
                            form.render();
                            layer.open({
                                closeBtn: 2,
                                type: 1,
                                area: '600px',
                                title: '查看更多',
                                content: $('#motai')
                            });
                        }else{
                            layer.msg(result.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    }
                });
            });
        });
    });
</script>
{/block}