{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">道具</a>
            <a><cite>道具列表</cite></a>
        </span>
    </div>
    <div style="float:right;">
        {php}
            if(showHandle('prop/Prop/addProp')){
        {/php}
            <a href="{:url('prop/Prop/addProp')}"><span class="layui-btn" style="margin-bottom:5px;">添加道具</span></a>
        {php}
            }
        {/php}
    </div>
    <form class="layui-form" action="{:url('Prop/lists')}" method="get" style="margin-top:10px;float:left;margin-bottom: -16px;">
        <div class="layui-form-item" style="margin-left:5px;">
            <div class="layui-inline">
                <select name="prop_type" lay-verify="required">
                    <option value="0">--请选择类型--</option>
                    {volist name="Think.config.prop_type" id="vo"}
                        <option value="{$key}" {eq name="$Think.get.prop_type" value="$key"}selected{/eq} >{$vo}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-inline">
                <input type="text"  name="name" placeholder="道具名称关键字" value="{$Think.get.name}" class="layui-input">
            </div>
            <div class="layui-inline">
                <button class="layui-btn">查找</button>
            </div>
        </div>
    </form>
    <table lay-even class="layui-table" style="margin-top:-16px;">
        <thead>
            <tr> 
                <th style='width:3%;'>ID</th>
                <th style='width:10%;'>道具图片</th>
                <th style='width:10%;'>道具名称</th>
                <th style='width:5%;'>类型</th>
                <th style='width:5%;'>数值</th>
                <th style='width:10%;'>持续时间</th>
                <th style='width:10%;'>冷却时间</th>
                <th style='width:5%;'>价格</th>
                <th style='width:5%;'>状态</th>
                <th style='width:5%;'>排序</th>
                <th style='width:10%;'>添加时间</th>
                <th style='width:22%;'>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>
                        <img src="{$vo.img}" width="150px"  class="zoomIn" >
                    </td>
                    <td>{$vo.name}</td>
                    <td>
                        {if condition="1 eq $vo['prop_type']"}
                            <span>单品</span>
                        {else/}
                            <span>套餐</span>
                        {/if}
                    </td>
                    <td>{$vo.propnum}</td>
                    <td>
                        {neq name="$vo.keep_time" value="0"}{$vo.keep_time}(分钟){/neq}
                    </td>
                    <td>
                        {neq name="$vo.cool_time" value="0"}{$vo.cool_time}(分钟){/neq}
                    </td>
                    <td>{$vo.price}</td>
                    <td>
                        {if condition="1 eq $vo['status']"}
                            <span style="color:green;">启用</span>
                        {else/}
                            <span >禁用</span>
                        {/if}
                    </td>
                    <td>{$vo.sort}</td>
                    <td>{$vo.creade_time|date="Y-m-d H:i:s",###}</td>
                    <td>
                        {php}
                            if(showHandle('prop/Prop/editProp')){
                        {/php}
                            <button class="layui-btn layui-btn-small editProp" data-id={$vo.id} style='font-size:15px;'>编辑</button>
                        {php}
                            }
                            if(showHandle('prop/Prop/onOffProp')){
                        {/php}
                            {neq name="$vo.status" value="1"}
                                <button class="layui-btn layui-btn-small onOffProp" data-id={$vo.id} style='font-size:15px;'>开启</button>
                            {else/}    
                                <button class="layui-btn layui-btn-small onOffProp" data-id={$vo.id} style='font-size:15px;'>关闭</button>
                            {/neq} 
                        {php}
                            }
                            if(showHandle('prop/Prop/delProp')){
                        {/php}
                            <button class="layui-btn layui-btn-small delProp" data-id={$vo.id} style='font-size:15px;'>删除</button>
                        {php}
                            }
                        {/php}
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
{/block}

{block name='layer'}
<!--编辑道具start-->
    <div id='editmotai' style="display:none">
        <form id='editdata-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td>道具类型:</td>
                        <td>单品
                            <!--<select name="prop_type" lay-verify="required" lay-filter="prop_type">
                                {volist name="Think.config.prop_type" id="vo"}
                                    <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>-->
                        </td>
                    </tr>
                    <tr>
                        <td>原图片:</td>
                        <td>
                            <span class="layui-btn layui-btn-small zoomIn" name="oldimg" >查看</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具图片:</td>
                        <td>
                            <div class="layui-box layui-upload-button layui-input-inline">
                                <input type="file" name="image" lay-type="images" class="layui-upload-file"/>
                                <span class="layui-upload-icon"><i class="layui-icon"> </i>上传图片</span>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td><span style="color:red">*</span>道具名称:</td>
                        <td>
                            <input type="text"  name="name" autocomplete="off" placeholder="道具名称"  lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具价格:</td>
                        <td>
                            <input type="text"  name="price" autocomplete="off" placeholder="道具价格"  lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具说明:</td>
                        <td>
                            <textarea rows="3" cols="60" name="describe"  lay-verify="required"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具数值:</td>
                        <td>
                            <input type="text"  name="propnum" autocomplete="off" placeholder="道具数量" lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr class='single'>
                        <td><span style="color:red">*</span>使用方式:</td>
                        <td>
                            <select name="use_type" lay-verify="required">
                                <option value="1">持续使用</option>
                                <option value="2">立即使用</option>
                            </select>
                        </td>
                    </tr>
                    <tr class='single'>
                        <td>持续时间:</td>
                        <td>
                            <input type="text"  name="keep_time" autocomplete="off"  placeholder="单位分钟" class="layui-input">
                        </td>
                    </tr>
                    <tr class='single'>
                        <td>冷却时间:</td>
                        <td>
                            <input type="text"  name="cool_time" autocomplete="off"  placeholder="单位分钟" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>排&nbsp &nbsp &nbsp &nbsp序:</td>
                        <td>
                            <input type="text"  name="sort" autocomplete="off" placeholder="排序" value='0' class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align: center;">  
                            <input type='hidden' name="id">
                            <input type='hidden' name="action" value='post'>
                            <input type='hidden' name="prop_type" value='1'>
                            <button class="layui-btn editsubmit" lay-submit lay-filter="formDemo" type="button">立即提交</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div id='editmul' style="display:none">
        <form id='editmul-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td width="18%">道具套餐:</td>
                        <td name="mul"></td>
                    </tr>
                    <tr>
                        <td>原图片:</td>
                        <td>
                            <span class="layui-btn layui-btn-small zoomIn" name="oldimg" >查看</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具图片:</td>
                        <td>
                            <div class="layui-box layui-upload-button layui-input-inline">
                                <input type="file" name="image" lay-type="images" class="layui-upload-file"/>
                                <span class="layui-upload-icon"><i class="layui-icon"> </i>上传图片</span>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td><span style="color:red">*</span>道具名称:</td>
                        <td>
                            <input type="text"  name="name" autocomplete="off" placeholder="道具名称"  lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具价格:</td>
                        <td>
                            <input type="text"  name="price" autocomplete="off" placeholder="道具价格"  lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具说明:</td>
                        <td>
                            <textarea rows="3" cols="60" name="describe"  lay-verify="required"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>道具数值:</td>
                        <td>
                            <input type="text"  name="propnum" autocomplete="off" placeholder="道具数量" lay-verify="required" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>排&nbsp &nbsp &nbsp &nbsp序:</td>
                        <td>
                            <input type="text"  name="sort" autocomplete="off" placeholder="排序" value='0' class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align: center;">  
                            <input type='hidden' name="id">
                            <input type='hidden' name="action" value='post'>
                            <input type='hidden' name="prop_type" value='2'>
                            <button class="layui-btn editmulsubmit" lay-submit lay-filter="formDemo" type="button">立即提交</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

<!--编辑道具end-->
{/block}
{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            //放大图片
            $('.zoomIn').click(function(){
                var src = $(this).attr('src');
                layer.open({
                    closeBtn: 2,
                    type: 1, 
                    area: ['225','200px'],
                    title:'查看图片',
                    content: "<img src="+src+" width='100%' height='100%'>"
                });
            });
            
            //编辑道具
            $('.editProp').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                //layer.open({
                    //type:3,
                    //success: function(layero, index){
                        $.ajax({
                            url: "{:url('editProp')}",
                            type: 'post',
                            data: {'id':id,'action':'get'},
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    var data = result.data;
                                    if(data.prop_type == 1){
                                        //$('#editdata-form select[name="prop_type"]').find("option[value='"+data.prop_type+"']").attr("selected",true);
                                        $('#editdata-form span[name="oldimg"]').attr('src',data.img);
                                        $('#editdata-form input[name="name"]').val(data.name);
                                        $('#editdata-form input[name="price"]').val(data.price);
                                        $('#editdata-form textarea[name="describe"]').val(data.describe);
                                        $('#editdata-form input[name="propnum"]').val(data.propnum);
                                        $('#editdata-form select[name="use_type"]').find("option[value='"+data.use_type+"']").attr("selected",true);
                                        $('#editdata-form input[name="keep_time"]').val(data.keep_time); 
                                        $('#editdata-form input[name="cool_time"]').val(data.cool_time);
                                        $('#editdata-form input[name="sort"]').val(data.sort);
                                        $('#editdata-form input[name="id"]').val(data.id);
                                        form.render();
                                        layer.open({
                                            closeBtn: 2,
                                            type: 1,
                                            area: '600px',
                                            title: '编辑道具',
                                            content: $('#editmotai')
                                        }); 
                                    }else{
                                        var string = '',i = 1;
                                        $.each(data.prop_mul, function(key,val) {
                                            string +="<input type='text' class='layui-input' style='width:18%;float:left;' disabled value='"+val.name+"'><input type='hidden' name='sid[]' value='"+val.id+"'><input type='text' name='snum[]' value='"+val.num+"' style='width:10%;float:left;margin-right:3%' class='layui-input'>";
                                            if(i%3 == 0){
                                                string += '<br/><br/>';
                                            }
                                            ++i;
                                        });
                                        $('#editmul-form td[name="mul"]').empty().append(string);
                                        $('#editmul-form span[name="oldimg"]').attr('src',data.img);
                                        $('#editmul-form input[name="name"]').val(data.name);
                                        $('#editmul-form input[name="price"]').val(data.price);
                                        $('#editmul-form textarea[name="describe"]').val(data.describe);
                                        $('#editmul-form input[name="propnum"]').val(data.propnum);
                                        $('#editmul-form input[name="sort"]').val(data.sort);
                                        $('#editmul-form input[name="id"]').val(data.id);
                                        form.render();
                                        layer.open({
                                            closeBtn: 2,
                                            type: 1,
                                            area: '700px',
                                            title: '编辑道具',
                                            content: $('#editmul')
                                        }); 
                                    }

                                }else{
                                    layer.msg(result.msg);
                                    window.location.reload();//刷新当前页面.
                                }
                            }
                        });
                   // }
                //});
            });
            //提交编辑道具表单
            $('.editsubmit').click(function() {
                /*var prop_type = $('#editdata-form select[name="prop_type"]').val();
                if (prop_type.length < 1) {
                    layer.msg('请选择类型!');
                    return false;
                }*/
                var name = $("#editdata-form input[name='name']").val();
                if (name.length < 1) {
                    layer.msg('请填写道具名称!');
                    return false;
                }
                var price = $("#editdata-form input[name='price']").val();
                if (price.length < 1) {
                    layer.msg('请填写道具价格!');
                    return false;
                }
                var describe = $('#editdata-form textarea[name="describe"]').val();
                if (describe.length < 1) {
                    layer.msg('请填写道具说明!');
                    return false;
                }
                var propnum = $("#editdata-form input[name='propnum']").val();
                if (propnum.length < 1) {
                    layer.msg('请填写道具数量!');
                    return false;
                }
                
                var From = new FormData(document.getElementById('editdata-form'));
                layer.open({
                    type:3,
                    success: function(layero, index){  
                        $.ajax({
                            url: "{:url('editProp')}",
                            type: 'POST',
                            data: From,
                            processData: false,
                            contentType: false,
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    layer.msg(result.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    }
                });     
            });
            $('.editmulsubmit').click(function() {
                var name = $("#editmul-form input[name='name']").val();
                if (name.length < 1) {
                    layer.msg('请填写道具名称!');
                    return false;
                }
                var price = $("#editmul-form input[name='price']").val();
                if (price.length < 1) {
                    layer.msg('请填写道具价格!');
                    return false;
                }
                var describe = $('#editmul-form textarea[name="describe"]').val();
                if (describe.length < 1) {
                    layer.msg('请填写道具说明!');
                    return false;
                }
                var propnum = $("#editmul-form input[name='propnum']").val();
                if (propnum.length < 1) {
                    layer.msg('请填写道具数量!');
                    return false;
                }
                
                var From = new FormData(document.getElementById('editmul-form'));
                layer.open({
                    type:3,
                    success: function(layero, index){  
                        $.ajax({
                            url: "{:url('editProp')}",
                            type: 'POST',
                            data: From,
                            processData: false,
                            contentType: false,
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    layer.msg(result.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    }
                });     
            });
            //开启关闭道具
            $('.onOffProp').click(function(){
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                layer.confirm('确认此操作？',function(){
                    layer.open({
                        type:3,
                        success: function(layero, index){  
                            $.ajax({
                                url: "{:url('onOffProp')}",
                                type: 'POST',
                                data: {'id':id},
                                success: function(d) {
                                    var result = eval("(" + d + ")");
                                    if (result.flag == 1) {
                                        layer.msg(result.msg,{icon:1,time:2000},function(){
                                            layer.closeAll(); //疯狂模式，关闭所有层
                                            window.location.reload();//刷新当前页面.
                                        });
                                    }else{
                                        layer.closeAll('loading'); //关闭加载层
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        }
                    }); 
                });
            });
             //删除道具
            $('.delProp').click(function(){
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                layer.confirm('确认删除此操作？',function(){
                    layer.open({
                        type:3,
                        success: function(layero, index){  
                            $.ajax({
                                url: "{:url('delProp')}",
                                type: 'POST',
                                data: {'id':id},
                                success: function(d) {
                                    var result = eval("(" + d + ")");
                                    if (result.flag == 1) {
                                        layer.msg(result.msg,{icon:1,time:2000},function(){
                                            layer.closeAll(); //疯狂模式，关闭所有层
                                            window.location.reload();//刷新当前页面.
                                        });
                                    }else{
                                        layer.closeAll('loading'); //关闭加载层
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        }
                    }); 
                });
            });
        });
    });
</script>
{/block}