{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">任务</a>
            <a><cite>任务列表</cite></a>
        </span>
    </div>
    <div style="float:right;">
        {php}
            if(showHandle('task/Task/addTask')){
        {/php}
            <span class="layui-btn addTask" style="margin-bottom:5px;">添加任务</span>
        {php}
            }
        {/php}
    </div>
    <table lay-even class="layui-table" style="margin-top:-16px;">
        <thead>
            <tr> 
                <th style='width:5%;'>ID</th>
                <th style='width:15%;'>任务名称</th>
                <th style='width:10%;'>任务类型</th>
                <th style='width:10%;'>达成条件</th>
                <th style='width:10%;'>任务奖励</th>
                <th style='width:8%;'>状态</th>
                <th style='width:5%;'>排序</th>
                <th style='width:15%;'>添加时间</th>
                <th style='width:22%;'>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$Think.config.task_type[$vo.type]}</td>
                    <td>{$vo.num}</td>
                    <td>{$vo.reward}</td>
                    <td>{if condition="1 eq $vo['status']"}
                            <span style="color:green;">启用</span>
                        {else/}
                            <span >禁用</span>
                        {/if}
                    </td>
                    <td>{$vo.sort}</td>
                    <td>
                        {neq name="vo.create_time" value="0000-00-00 00:00:00"}
                            {$vo.create_time|date="Y-m-d H:i:s",###}
                        {/neq}
                    </td>
                    <td>
                        {php}
                            if(showHandle('task/Task/editTask')){
                        {/php}
                            <button class="layui-btn layui-btn-small editTask" data-id={$vo.id} style='font-size:15px;'>编辑</button>
                        {php}
                            }
                            if(showHandle('task/Task/onOffTask')){
                        {/php}
                            {neq name="$vo.status" value="1"}
                                <button class="layui-btn layui-btn-small onOffTask" data-id={$vo.id} style='font-size:15px;'>开启</button>
                            {else/}    
                                <button class="layui-btn layui-btn-small onOffTask" data-id={$vo.id} style='font-size:15px;'>关闭</button>
                            {/neq} 
                        {php}
                            }
                            if(showHandle('problem/Problem/delTask')){
                        {/php}
                            <button class="layui-btn layui-btn-small delTask" data-id={$vo.id} style='font-size:15px;'>删除</button>
                        {php}
                            }
                        {/php}
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
{/block}

{block name='layer'}
<!--添加任务start-->
    <div id='motai' style="display:none">
        <form id='data-form' class="layui-form" method="post">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td> <span style="color:red">*</span>任务名称：</td>
                        <td>  
                            <input type="text"  name="name" required  lay-verify="required" placeholder="任务名称"  autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>任务类型：</td>
                        <td>  
                            <select name="type" lay-verify="required">
                                <option value="">--请选择--</option>
                                {volist name="Think.config.task_type" id="vo"}
                                    <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <span style="color:red">*</span>达成条件：</td>
                        <td>  
                            <input type="text"  name="num" required  lay-verify="required" placeholder="达成条件"  autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td> <span style="color:red">*</span>任务奖励：</td>
                        <td>  
                            <input type="text"  name="reward" tmpname='one'  placeholder="任务奖励"   class="layui-input" required  lay-verify="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td>排&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp序：</td>
                        <td>
                            <input type="text" name="sort"  placeholder="排序" value="0" autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align: center;">  
                            <button class="layui-btn addSubmit" lay-submit lay-filter="formDemo" type="button">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<!--添加任务end-->

<!--编辑任务start-->
    <div id='editmotai' style="display:none">
        <form id='editdata-form' class="layui-form" method="post" enctype="multipart/form-data">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td> <span style="color:red">*</span>任务名称：</td>
                        <td>  
                            <input type="text"  name="name" required  lay-verify="required" placeholder="任务名称"  autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>任务类型：</td>
                        <td>  
                            <select name="type" lay-verify="required">
                                <option value="">--请选择--</option>
                                {volist name="Think.config.task_type" id="vo"}
                                    <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <span style="color:red">*</span>达成条件：</td>
                        <td>  
                            <input type="text"  name="num" required  lay-verify="required" placeholder="达成条件"  autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td> <span style="color:red">*</span>任务奖励：</td>
                        <td>  
                            <input type="text"  name="reward" tmpname='one'  placeholder="任务奖励"   class="layui-input" required  lay-verify="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td>排&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp序：</td>
                        <td>
                            <input type="text" name="sort"  placeholder="排序" value="0" autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align: center;">  
                            <input type='hidden' name="id">
                            <input type='hidden' name="action" value='post'>
                            <button class="layui-btn editsubmit" lay-submit lay-filter="formDemo" type="button">立即提交</button>
                            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<!--编辑任务end-->
{/block}
{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            //弹出添加任务模态框
            $('.addTask').click(function() {
                layer.open({
                    closeBtn: 2,
                    type: 1,
                    area: '600px',
                    title: '添加任务',
                    content: $('#motai')
                });
            });
            //提交添加任务信息
            $('.addSubmit').click(function() {
                var name = $("#data-form input[name='name']").val();
                var type = $("#data-form select[name='type']").val();
                var num = $("#data-form input[name='num']").val();
                var reward = $("#data-form input[name='reward']").val();
                
                if (name.length < 1) {
                    layer.msg('请填写任务名称!');
                    return false;
                }
                if (type.length < 1) {
                    layer.msg('请选择任务类型!');
                    return false;
                }
                if (num.length < 1) {
                    layer.msg('请填写任务条件!');
                    return false;
                }
                if (reward.length < 1) {
                    layer.msg('请填写任务奖励!');
                    return false;
                }
                
                var From = $('#data-form').serialize();
                layer.open({
                    type:3,
                    success: function(layero, index){ 
                        $.ajax({
                            url: "{:url('addTask')}",
                            data: From,
                            type: 'post',
                            success: function(d) {
                                var res = eval("(" + d + ")");
                                if (res.flag == 1) {
                                    layer.msg(res.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                }
                            }
                        });
                    }
                });
            });
            //编辑任务信息
            $('.editTask').click(function() {
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                $.ajax({
                    url: "{:url('editTask')}",
                    type: 'post',
                    data: {'id':id,'action':'get'},
                    success: function(d) {
                        var result = eval("(" + d + ")");
                        if (result.flag == 1) {
                            var data = result.data;
                            $('#editdata-form input[name="name"]').val(data.name);
                            $('#editdata-form select[name="type"]').find("option[value='"+data.type+"']").attr("selected",true);
                            $('#editdata-form input[name="num"]').val(data.num);
                            $('#editdata-form input[name="reward"]').val(data.reward);
                            $('#editdata-form input[name="sort"]').val(data.sort);
                            $('#editdata-form input[name="id"]').val(data.id);
                            form.render();
                        }else{
                            layer.msg(result.msg);
                            window.location.reload();//刷新当前页面.
                        }
                        layer.open({
                            closeBtn: 2,
                            type: 1,
                            area: '600px',
                            title: '编辑任务',
                            content: $('#editmotai')
                        });
                    }
                });
            });
            //提交编辑试题信息表单
            $('.editsubmit').click(function() {
                var name = $("#editdata-form input[name='name']").val();
                var type = $("#editdata-form select[name='type']").val();
                var num = $("#editdata-form input[name='num']").val();
                var reward = $("#editdata-form input[name='reward']").val();
                if (name.length < 1) {
                    layer.msg('请填写任务名称!');
                    return false;
                }
                if (type.length < 1) {
                    layer.msg('请选择任务类型!');
                    return false;
                }
                if (num.length < 1) {
                    layer.msg('请填写任务条件!');
                    return false;
                }
                if (reward.length < 1) {
                    layer.msg('请填写任务奖励!');
                    return false;
                }
                
                var From = $('#editdata-form').serialize();
                layer.open({
                    type:3,
                    success: function(layero, index){  
                        $.ajax({
                            url: "{:url('editTask')}",
                            type: 'POST',
                            data: From,
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    layer.msg(result.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    }
                });     
            });
            //开启关闭
            $('.onOffTask').click(function(){
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                layer.confirm('确认此操作？',function(){
                    layer.open({
                        type:3,
                        success: function(layero, index){  
                            $.ajax({
                                url: "{:url('onOffTask')}",
                                type: 'POST',
                                data: {'id':id},
                                success: function(d) {
                                    var result = eval("(" + d + ")");
                                    if (result.flag == 1) {
                                        layer.msg(result.msg,{icon:1,time:2000},function(){
                                            layer.closeAll(); //疯狂模式，关闭所有层
                                            window.location.reload();//刷新当前页面.
                                        });
                                    }else{
                                        layer.closeAll('loading'); //关闭加载层
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        }
                    }); 
                });
            });
            
             //删除任务
            $('.delTask').click(function(){
                var id = $(this).attr('data-id');
                if (id.length<1){ return false;}
                layer.confirm('确认删除此操作？',function(){
                    layer.open({
                        type:3,
                        success: function(layero, index){  
                            $.ajax({
                                url: "{:url('delTask')}",
                                type: 'POST',
                                data: {'id':id},
                                success: function(d) {
                                    var result = eval("(" + d + ")");
                                    if (result.flag == 1) {
                                        layer.msg(result.msg,{icon:1,time:2000},function(){
                                            layer.closeAll(); //疯狂模式，关闭所有层
                                            window.location.reload();//刷新当前页面.
                                        });
                                    }else{
                                        layer.closeAll('loading'); //关闭加载层
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                        }
                    }); 
                });
            });
        });
    });
</script>
{/block}