{extend name="extra@main"/}
{block name="body"}
    <div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px;">
        <span class="layui-breadcrumb" style="font-size:20px">
            <a href="javascript:;">题库</a>
            <a><cite>答题配置</cite></a>
        </span>
    </div>
    <form id='data-form' style="width:600px;">
        <table class="layui-table" style="margin:16px 0px 0px 160px">
            <tbody>
                <tr>
                    <td>答题消耗体力:</td>
                    <td>
                        <input type="text"  name="pro_tili" autocomplete="off"  lay-verify=”required|number” value="{$data.pro_tili}" class="layui-input">
                    </td>
                </tr>
                <!--<tr>
                    <td>每轮答题数量:</td>
                    <td>
                        <input type="text"  name="pro_num" autocomplete="off"   value="{$$$$$data.pro_num}" class="layui-input">
                    </td>
                </tr> -->
                <tr>
                    <td>本轮通过分数:</td>
                    <td>
                        <input type="text"  name="pro_error" autocomplete="off" value="{$data.pro_error}" class="layui-input">
                    </td>
                </tr>
                <!--<tr>
                    <td>每题答题时间(秒):</td>
                    <td>
                        <input type="text"  name="pro_time" autocomplete="off"  value="{$$$data.pro_time}" class="layui-input">
                    </td>
                </tr>-->
                <tr>
                    <td>每轮胜率获得能量:</td>
                    <td>
                        <input type="text" name="pro_energy" autocomplete="off" value="{$data.pro_energy}" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="text-align: center;">  
                        <button class="layui-btn editsubmit" lay-submit lay-filter="formDemo" type="button">更新</button>
                        <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{/block}

{block name="optJS"}
<script> 
    layui.use('layer', function() {
        layui.use(['form', 'jquery', 'laypage'], function() {
            var $ = layui.jquery, layer = layui.layer,form = layui.form();
            //提交配置信息
            $('.editsubmit').click(function() {
                var pro_tili   = $('#data-form input[name="pro_tili"]').val();
                var pro_num    = $('#data-form input[name="pro_num"]').val();
                var pro_error  = $('#data-form input[name="pro_error"]').val();
                //var pro_time   = $('#data-form input[name="pro_time"]').val();
                var pro_energy = $('#data-form input[name="pro_energy"]').val();
                
                if (pro_tili.length < 1) {
                    layer.msg('请填写答题消耗体力值');
                    return false;
                }
                if (pro_num.length < 1) {
                    layer.msg('请填写每轮答题数量!');
                    return false;
                }
                if (pro_error.length < 1) {
                    layer.msg('请填写允许答错数量!');
                    return false;
                }
                /*if (pro_time.length < 1) {
                    layer.msg('请填写每题答题时间!');
                    return false;
                }*/
                if (pro_energy.length < 1) {
                    layer.msg('请填写每轮胜率获得能量');
                    return false;
                }
                var From = $('#data-form').serialize();
                layer.open({
                    type:3,
                    success: function(layero, index){  
                        $.ajax({
                            url: "{:url('config')}",
                            type: 'POST',
                            data: From,
                            success: function(d) {
                                var result = eval("(" + d + ")");
                                if (result.flag == 1) {
                                    layer.msg(result.msg,{icon:1,time:2000},function(){
                                        layer.closeAll(); //疯狂模式，关闭所有层
                                        window.location.reload();//刷新当前页面.
                                    });
                                }else{
                                    layer.closeAll('loading'); //关闭加载层
                                    layer.msg(result.msg);
                                }
                            }
                        });
                    }
                });     
            });
            
        });
    });
</script>
{/block}